/*
BASICOS

elemento {
    propiedad:valor;
}

.clase {
    propiedad: valor;
}

#id {
    propiedad: valor;
}

*/

h2 {
    color: red;
}

.azul {
    color: blue;
}

.italica {
    font-style: italic;
}

#h1_id {
    font-size: 100px;
    background: yellow;
}

.h1_class {
    background: green;
}

.parrafo strong { /*Selecciono un strong que está adentro de una clase parrafo*/
    text-transform: uppercase;
}

.contenedor > h4 { /*Descendiente directo de contenedor que es etiqueta h4*/
    color: purple;
}

h2.azul { /*Seleccionando el elemento que tenga ambos selectores*/
    color: yellow;
}

input[type="text"] {
    width: 350px;
}

input[type="number"] {
    height: 50px;
}

input, textarea, select {
    border: 3px solid magenta;
}

/*COLOR*/
.color {
    color: #2eca15; /* #ff0000 rgb(255, 0, 0) red*/
    background-color: lightgray;
}

/*TEXTO*/
.texto {
    text-align: center; /*left, right, center, justify*/
    text-decoration:underline; /*underline, line-through, none, overline*/
    font-style: italic; /*italic, normal*/
    font-weight: bold; /*100, 200, bold, light*/
    font-size: 30px; /*px pt em*/
}

/*TAMAÑO*/
.tamano {
    background-color: gray;
    width: 400px;
    height: 500px;
}

/*BACKGROUND*/